# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/d68d27cae553a31accf251a4fb67e282ea0ffdcb624a67cdbb989e301d375d93.sqlite
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/d68d27cae553a31accf251a4fb67e282ea0ffdcb624a67cdbb989e301d375d93.sqlite-shm
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/d68d27cae553a31accf251a4fb67e282ea0ffdcb624a67cdbb989e301d375d93.sqlite-wal
